@import "../../Styles.scss";

.main {
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $accentRed;
  color: $accentMain;
  width: 99%;
  height: 1.2vh;
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 7px;
  box-shadow: $shadowRed;
  font-family: "Barlow";

  h3 {
    font-size: 25px;
    color: white;
    text-decoration: underline;
  }

  h2 {
    color: white;
    text-decoration: underline;
  }
}

.selector {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 7vw;
}

h3:hover {
  color: black;
  cursor: pointer;
}

h2:hover {
  cursor: pointer;
  color: black;
  text-decoration: underline;
  transform: scale(1.3);
}








