@import "../../Styles.scss";

.content{
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 150px;
        font-family: 'Jockey One';
        text-shadow: 2px 5px 4px white;

        &:hover{
            cursor: default;
        }
    }

    p{
        font-family: 'Golos Text';
        letter-spacing: 1px;
        text-align: center;
        text-shadow: 1px 2px 3px white;

        &:hover{
            cursor: default;
        }
    }
}

.cards{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.3vw;
}